# Node
node_modules
.next
.next-dev
out

# Xcode
DerivedData
build
*.xcworkspace

# Swift
.swiftpm
.build

# Distribution
dist

# Coverage
*.profraw

# macOS
.DS_Store

# Logs
*.log

# Vercel
.vercel
