<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://sharancreatedthis.in/products/vision/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>CT82PIW9/Iha6VlYi5InrpuoL6ITzRnAoE3THbVYaow=</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<false/>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
</dict>
</plist>
